@if(!loading){
  <app-spinner-loading></app-spinner-loading>
}
<div class="text-8xl font-bold text-center pb-10">¡Reserva y recoge tu mejor pedido!</div>
<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
    @for (c of companies; track c.id) {
        <div class="min-w-dvh lg:max-w-full lg:flex">
            <div class="h-2 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('https://www.foodandwine.com/thmb/DI29Houjc_ccAtFKly0BbVsusHc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/crispy-comte-cheesburgers-FT-RECIPE0921-6166c6552b7148e8a8561f7765ddf20b.jpg')" title="Woman holding a mug">
            </div>
            <div class="w-full border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
              <div class="mb-8">
                <div class="text-gray-900 font-bold text-4xl mb-2">{{ c.name }}</div>
                <p class="text-gray-700 text-base">{{ c.address }}</p>
                <button (click)="selectCompany(c.name)" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xl px-5 py-2 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Ver carta</button>
              </div>
            </div>
        </div>
    }
</div>