@if(!loading){
  <app-spinner-loading></app-spinner-loading>
}
<div class="relative text-8xl text-white font-bold text-center pb-10">
  <button (click)="returnPage()" class="absolute left-0"><</button>
  <span>{{ company }}</span>
</div>
<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
  @if(items.length > 0){
    @for (i of items; track i.id) {
      <div class="min-w-dvh lg:max-w-full lg:flex">
          <div class="h-2 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('https://www.foodandwine.com/thmb/DI29Houjc_ccAtFKly0BbVsusHc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/crispy-comte-cheesburgers-FT-RECIPE0921-6166c6552b7148e8a8561f7765ddf20b.jpg')" title="Woman holding a mug">
          </div>
          <div class="w-full border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div class="mb-8">
              <div class="text-gray-900 font-bold text-4xl mb-2">{{ i.name }}</div>
              <div class="text-gray-900 font-bold text-2xl mb-2">{{ i.description }}</div>
              <div class="text-gray-600 text-xl">{{ i.price }}€</div>
            </div>
          </div>
      </div>
  }
  }@else{
    <div class="min-w-dvh lg:max-w-full lg:flex">
      <div class="w-full border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
        <div class="mb-8">
          <div class="text-gray-900 font-bold text-4xl mb-2">Aún no hay registros</div>
        </div>
      </div>
    </div>
  }
</div>

@if(items.length > 0){
  <app-paginator [allData]="itemsList" (updateItems)="updateItems($event)"></app-paginator>
}